<div class="dashboard p-grid p-fluid" *ngIf="carregado">
    <div class="p-col-12 p-md-3">
        <div class="highlight-box">
            <div class="initials" style="background-color:#007be5;color:#00448f">TC</div>
            <div class="card">
                <span class="highlight-box-icon pi pi-eye">Total de Contratos</span>
                <span></span>
                <span class="count" style="font-size: 25px">{{totalContratos}}</span>
            </div>
        </div>
    </div>
    <div class="p-col-12 p-md-3">
        <div class="highlight-box">
            <div class="initials" style="background-color:#20d077;color:#038d4a">CA</div>
            <div class="card">
                <span class="highlight-box-icon pi pi-question-circle"></span>
                <span>Contratos Aprovados</span>
                <span class="count" style="font-size: 25px">{{totalContratosAprovados}}</span>
            </div>
        </div>
    </div>
    <div class="p-col-12 p-md-3">
        <div class="highlight-box">
            <div class="initials" style="background-color:#ef6262;color:#a83d3b">CR</div>
            <div class="card">
                <span class="highlight-box-icon pi pi-question-circle"></span>
                <span>Contratos Rejeitados</span>
                <span class="count" style="font-size: 25px">{{totalContratosErro}}</span>
            </div>
        </div>
    </div>
    <div class="p-col-12 p-md-3">
        <div class="highlight-box">
            <div class="initials" style="background-color:#edef62;color:#a8983b">CP</div>
            <div class="card">
                <span class="highlight-box-icon pi pi-question-circle"></span>
                <span>Contratos Pendentes</span>
                <span class="count" style="font-size: 25px">{{totalContratosPendentes}}</span>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-md-12">
        <p-panel header="Aprovação de Contratos" [style]="{'height':'100%'}">
            <app-secret-aprovacoes-contratos *ngIf="carregado" [contratos]="contratosPendentes"></app-secret-aprovacoes-contratos>
        </p-panel>
    </div>
    <div class="p-col-12 p-md-12">
        <p-panel header="Aprovação de Aportes" [style]="{'height':'100%'}">
            <app-secret-aprovacoes-aportes *ngIf="carregado" [contratos]="aportesPendentes"></app-secret-aprovacoes-aportes>
        </p-panel>
    </div>
</div>
