<div class="p-col-12 p-md-12" *ngIf="carregado">
    <p-toolbar styleClass="p-mb-12">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Novo" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="novo()"></button>
        </ng-template>
        <ng-template pTemplate="right">
            Contas Bancárias   -
            <i class="pi pi-money-bill"  style="font-size: 2rem"></i>
        </ng-template>
    </p-toolbar>
    <p-table #dt1 [value]="contasBancarias" [columns]="colsContas" [paginator]="true" [rows]="10" >
        <ng-template pTemplate="header" let-columns>
            <tr style="font-size: 11px">
                <th *ngFor="let col of columns" pSortableColumn="{{col.value}}" [style]="col.width==null? null : { 'width': col.width }">
                    {{col.label}} 
                    <p-sortIcon field="{{col.value}}"></p-sortIcon>
                </th>
            </tr>
            <tr style="font-size: 11px">
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-contas  let-columns="columns">
            <tr style="font-size: 11px">
                <td *ngFor="let col of columns">
                    <span *ngIf="col.cxlabel">{{_(contas, col.value)}}</span>
                    <button class="p-button-danger p-button-rounded p-button-outlined" *ngIf="col.value=='botao'" pButton pRipple type="button" (click)="delete(contas)" icon="pi pi-trash" ></button>
                </td> 
            </tr>
        </ng-template>
    </p-table>
</div>
<p-dialog header="Nova Conta" [(visible)]="editarNovaConta" [style]="{width: '400px', height: '450px'}">
    <div *ngIf="editarNovaConta" class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-6">
            <label >Nome</label>
            <input type="text" [(ngModel)]="newObj.titular" pInputText> 
        </div>
        <div class="p-field p-col-12 p-md-6">
            <label >Documento</label>
            <input type="text" [(ngModel)]="newObj.docTitular" pInputText> 
        </div>
        <div class="p-field p-col-12 p-md-12">
            <label >Banco</label>
            <p-dropdown [options]="bancos" [(ngModel)]="newObj.banco" optionLabel="banco" placeholder="Select"></p-dropdown>
        </div>
        <div class="p-field p-col-12 p-md-12">
            <label >Tipo</label>
            <p-dropdown [options]="tiposDeConta" [(ngModel)]="newObj.tpo" placeholder="Select"></p-dropdown>
        </div>
        <div class="p-field p-col-12 p-md-4">
            <label >Agencia</label>
            <input  type="text" [(ngModel)]="newObj.agencia" pInputText>
        </div>
        <div class="p-field p-col-12 p-md-3">
            <label >Op.</label>
            <input  type="text" [(ngModel)]="newObj.cod" pInputText>
        </div>
        <div class="p-field p-col-12 p-md-5">
            <label >Conta</label>
            <input  type="text" [(ngModel)]="newObj.conta" pInputText>
        </div>
        <div class="p-col-6 ">
            <p-button class="p-col-12" (click)="salvarNovaConta()" label="Salvar" icon="pi pi-check"   styleClass="p-button-success p-button-rounded p-button-sm"></p-button>
        </div>
        <div class="p-col-6 ">
            <p-button class="p-col-12" (click)="Cancelar()"  label="Cancelar" icon="pi pi-times" styleClass="p-button-secondary p-button-rounded p-button-sm"></p-button>
        </div>
    </div>
</p-dialog>