<div class="dashboard p-grid p-fluid" *ngIf="carregado1">
    <div class="p-col-12 p-md-4">
        <div class="card clearfix summary">
            <span class="title">Clientes Ativos</span>
            <span class="detail">Número de Clientes Ativos</span>
            <span style="font-size: 15px;" class="count visitors">{{clientes}}</span>
        </div>
    </div>
    <div class="p-col-12 p-md-4">
        <div class="card clearfix summary">
            <span class="title">Contratos Ativos</span>
            <span class="detail">Número de contratos ativos</span>
            <span style="font-size: 15px;" class="count purchases">{{contratosAtivos}}</span>
        </div>
    </div>
    <div class="p-col-12 p-md-4">
        <div class="card clearfix summary">
            <span class="title">Valor total</span>
            <span class="detail">Somatório dos contratos</span>
            <span style="font-size: 15px;" class="count revenue">R$ {{ valorTotalDeContratos.toLocaleString(undefined, {minimumFractionDigits: 0,maximumFractionDigits: 0})}}</span>
        </div>
    </div>

    <div class="p-col-12 p-lg-4">
        <p-panel header="Maiores Clientes" [style]="{'height':'100%'}">
            <ul class="contacts">
                <li *ngFor="let cli of maioresClientes">
                    <a href="#" >
                        <img src="{{cli[0].imgPerfil==null? 'assets/layout/images/noImage.png' : cli[0].imgPerfil}}" height="35" style="border-radius: 50%;">
                        <span class="name">{{cli[0].investidor}}</span>
                        <span class="email">R$ {{cli[1].toLocaleString(undefined, {minimumFractionDigits: 0,maximumFractionDigits: 0})
                            + ' - ' +cli[2]}} Contratos</span>
                    </a>
                </li>
            </ul>
        </p-panel>
    </div>
    <div class="p-col-12 p-lg-8" >
        <p-panel header="Meus Contratos" [style]="{'height':'100%'}">
            <app-meus-contratos [style]="{'width':'100%' }"></app-meus-contratos>
        </p-panel>
    </div>
</div>
