<p-dialog header="Altere a sua senha" [(visible)]="senhapad" modal="modal" showEffect="fade" [style]="{width: '400px'}">
    <div class="ui-g-12">
    <span class="md-inputfield">
        <div class="p-inputgroup">
            <input type="{{viewpass ? 'password' : 'text'}}" placeholder="Nova Senha"  [(ngModel)]="novasenha" pInputText>
            <p-toggleButton type="button" [(ngModel)]="viewpass"  onIcon="pi pi-eye" offIcon="pi pi-eye-slash"></p-toggleButton>
        </div>

    </span>
    </div>
    <div class="ui-g-12">
    <span class="md-inputfield">
        <div class="p-inputgroup">
            <input type="{{viewpass ? 'password' : 'text'}}" placeholder="Repita a Nova Senha" [(ngModel)]="novasenhaconfirm" pInputText>
            <p-toggleButton type="button" [(ngModel)]="viewpass"  onIcon="pi pi-eye" offIcon="pi pi-eye-slash"></p-toggleButton>
        </div>
    </span>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="pi pi-times" (click)="senhapad=false" label="Não"></button>
            <button type="button" pButton icon="pi pi-check" (click)="alterarsenha()" label="Sim"></button>
        </div>
    </p-footer>
</p-dialog>
<div class="login-body">
    <div id="login-wrapper">
        <p-toast   [style]="{marginTop: '5px'}"></p-toast>
        
        <img src="assets/layout/images/login-logo.png" alt="omega-layout" width="100px" />
        <div id="login-container">
            <div class="p-grid p-fluid">
                <div class="p-col-12">
                    <input type="text" autocomplete="off" [(ngModel)]="usuario.email" pInputText placeholder="Email" />
                </div>
                <div class="p-col-12">
                    <div class="p-inputgroup">
                        <input type="{{viewpass ? 'password' : 'text'}}" autocomplete="off" [(ngModel)]="usuario.senha" pInputText placeholder="Password" [toggleMask]="true"/>
                        <p-toggleButton type="button" [(ngModel)]="viewpass"  onIcon="pi pi-eye" offIcon="pi pi-eye-slash"></p-toggleButton>
                    </div>
                </div>
                <!-- <div class="p-col-12 p-md-6">
                    <span class="remember-me">Relembre-me</span>
                    <input type="checkbox">
                </div>
                <div class="p-col-12 p-md-6">
                    <a href="#">Esqueci a senha</a>
                </div> -->
                <div class="p-col-12" *ngIf="carregando==false" >
                    <p-button type="button" icon="pi pi-user"  label="Entrar" (click)= "logar()" icon="ui-icon-person"></p-button>
                </div>
                <div class="p-col-12" *ngIf="carregando" >
                    <p-progressSpinner class="p-col-12" [style]="{width: '50px', height: '50px'}" styleClass="custom-spinner" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>
                </div>
            </div>
        </div>
        <div class="login-footer">JV Systems</div>
    </div>
</div>
