<p-table [value]="contratos" [columns]="cols"  [paginator]="true" [rows]="20">
    <ng-template pTemplate="header"  let-columns>
        <tr>
            <th *ngFor="let col of columns" pSortableColumn="{{col.value}}" [style]="col.width==null? null : { 'width': col.width }">
                {{col.label}}
                <p-sortIcon field="{{col.value}}"></p-sortIcon>
            </th>
        </tr>
        <tr ></tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData  let-columns="columns">
        <tr style="font-size: 11px">
            <td *ngFor="let col of columns">
               {{ col.cxlabel ?  col.number ? ( _(rowData, col.value ) | currency:'BRL':true:'1.2-2') :  _(rowData, col.value ) : null }}
                <button *ngIf="col.value=='botao'" pButton pRipple type="button" (click)="verInvestimento(rowData)" icon="pi pi-eye" class="p-button-rounded p-button-outlined"></button>
                
                <p-tag styleClass="p-mr-12" *ngIf="col.aprov &&  _(rowData, col.value ) == 2" value="Pendente" severity="warning" [rounded]="true"></p-tag>
                <p-tag styleClass="p-mr-12" *ngIf="col.aprov &&  _(rowData, col.value ) == 1" value="Aprovado" severity="success" [rounded]="true"></p-tag>
                <p-tag styleClass="p-mr-12" *ngIf="col.aprov &&  _(rowData, col.value ) == 3" value="Recusado" severity="danger"  [rounded]="true"></p-tag>
            </td> 
        </tr>
    </ng-template>
</p-table>

<p-sidebar [(visible)]="editarInvestimento"  [fullScreen]="true" [baseZIndex]="10000">
    <div class="card" style="width: 100%;" *ngIf="editarInvestimento && carregado">
        <p-tabMenu [model]="steps"  [activeItem]="activeItem"></p-tabMenu>
        <p-overlayPanel class="p-field p-col-12 p-md-12" #op1>
            <img  width="400px" *ngIf="investimento.imagemRecibo!=null"  [src]="investimento.imagemRecibo" alt="Imagem Recibo" />
        </p-overlayPanel>
        <p-overlayPanel class="p-field p-col-12 p-md-12" #op2>
            <img  width="400px" *ngIf="investimento.cliente!=null"  [src]="investimento.cliente.fotoDoc" alt="Imagem Recibo" />
        </p-overlayPanel>
        <p-scrollPanel [style]="{'margin-top': '10px', width: '100%', height: height}" styleClass="custom">
            <div *ngIf="activeItem.id==1" class="p-fluid p-formgrid p-grid">
                <div class="p-field p-col-12 p-md-12 p-formgrid p-grid" style="margin-top: 12px">
                    <p-menubar class="p-field p-col-12 p-md-12" [model]="items">
                        <ng-template pTemplate="start">
                            <img src="assets/layout/images/login-logo.png" height="40" class="p-mr-2"> 
                        </ng-template>
                        <ng-template pTemplate="end">
                            <h4><b>Aprovações</b></h4>
                        </ng-template>
                    </p-menubar>
                    <div class="p-field p-col-12 p-md-3 p-formgrid p-grid " style="text-align: center;">
                        <div class="p-field p-col-12 p-md-12" style="text-align: center;">
                            <h4><b>Ações</b></h4>
                        </div>
                        <div class="p-field p-col-12 p-md-12" style="text-align: center;">
                            <img [src]="investimento.cliente.imgPerfil==null? 'assets/layout/images/noImage.png' : investimento.cliente.imgPerfil" width="150px" height="150px" style="border-radius: 50%;"/>
                        </div>
                        <div class="p-field p-col-12 p-md-12" style="text-align: center;">
                            <button pButton pRipple (click)="aprovar()" label="Aprovar" type="button" icon="pi pi-check" class="p-button-rounded p-button-outlined"></button>
                            <button pButton pRipple (click)="reprovar()" label="Reprovar" type="button" icon="pi pi-times " class="p-button-rounded p-button-danger  p-button-outlined" style="margin-top: 5px;"></button>
                            <h5>Justificativa - {{investimento.observacaoSecretaria==null? 0 : investimento.observacaoSecretaria.length}}/255</h5>
                            <textarea [(ngModel)]="investimento.observacaoSecretaria" rows="7" cols="30" maxlength="255" pInputTextarea autoResize="autoResize"></textarea>
                        </div>
                    </div>


                    <div class="p-field p-col-12 p-md-5" style="text-align: center;">
                        <div class="p-field p-col-12 p-md-12" style="text-align: center;">
                            <h4><b>Fluxo de Aprovações</b></h4>
                        </div>
                        <div class="card" style="margin-top: 40px;">
                            <p-timeline [value]="events1">
                                <ng-template pTemplate="content" let-event>
                                    <small class="p-text-secondary">{{event.data}} -  <b>{{event.responsavel}}</b> - {{event.observacao}}</small>
                                </ng-template>
                                <ng-template pTemplate="marker" let-event>
                                    <span class="custom-marker p-shadow-2" [style.backgroundColor]="event.color">
                                        <i [ngClass]="event.icon"></i>
                                    </span>
                                </ng-template>
                                <ng-template pTemplate="opposite" let-event>
                                    {{event.status}} 
                                </ng-template>
                            </p-timeline>
                        </div>
                    </div>
                    <div class="p-field p-col-12 p-md-4  p-formgrid p-grid">
                        <div class="p-field p-col-12 p-md-12" style="text-align: center;">
                            <h4><b>Dados do Cliente</b></h4>
                        </div>
                        <div class="p-field p-col-12 p-md-12">
                            <label >Cliente</label>
                            <input type="text" [disabled]="true" [(ngModel)]="investimento.cliente.investidor" pInputText> 
                        </div>
                        <div class="p-field p-col-12 p-md-12">
                            <label >Tipo de Investimento</label>
                            <p-dropdown [options]="tipos"  [(ngModel)]="investimento.tpoContrato" [filter]="true" ></p-dropdown>
                        </div>
                        <div class="p-field p-col-12 p-md-12">
                            <label >Data do Investimento</label>
                            <p-calendar  class="p-field p-col-12 p-md-12" dateFormat="dd/mm/yy" [(ngModel)]="investimento.datInvestimento"  [showIcon]="true"></p-calendar>
                        </div>
                        <div class="p-field p-col-12 p-md-12">
                            <label >Valor</label>
                            <p-inputNumber prefix="R$ " [(ngModel)]="investimento.vlrInvestimento" :min="5000"  mode="decimal" locale="pt-BR" [minFractionDigits]="2"></p-inputNumber>
                        </div>
                        <div class="p-field p-col-12 p-md-4">
                            <label >Prazo do Investimento</label>
                            <p-inputNumber suffix=" meses" [(ngModel)]="investimento.prazo" :min="36" locale="pt-BR" [minFractionDigits]="0"></p-inputNumber>
                        </div>
                        <div class="p-field p-col-12 p-md-4">
                            <label >Rendimento</label>
                            <p-inputNumber suffix=" %" [(ngModel)]="investimento.rendimento" locale="pt-BR" [minFractionDigits]="0"></p-inputNumber>
                        </div>
                        <div class="p-field p-col-12 p-md-2">
                            <label >Recibo<br>
                                <button pButton pRipple type="button" (click)="op1.toggle($event)" icon="pi pi-eye" class="p-button-rounded p-button-success  p-button-outlined"></button>
                            </label>
                        </div>
                        <div class="p-field p-col-12 p-md-2">
                            <label >Documento<br>
                                <button pButton pRipple type="button" (click)="op2.toggle($event)" icon="pi pi-eye" class="p-button-rounded p-button-success  p-button-outlined"></button>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="p-field p-col-12 p-md-12 p-formgrid p-grid">
                    <div class="p-field p-col-12 p-md-6">
                        <h4>Consultores</h4>
                        <p-dropdown [options]="consultores" [disabled]="true" [(ngModel)]="investimento.consultor" optionLabel="nome" [filter]="true" filterBy="nome" [showClear]="true">
                            <ng-template pTemplate="selectedItem">
                                <div class="box"  *ngIf="investimento.consultor">
                                    <div>
                                        <img [src]="investimento.consultor.foto==null? 'assets/layout/images/noImage.png' : investimento.consultor.foto" />
                                    </div>
                                    <div class="nome">
                                        <div style="margin-left: 20px;">
                                            <span><b>{{investimento.consultor.nome}}</b></span>-<span>{{investimento.consultor.cargo}}</span><br>
                                            <span>{{investimento.consultor.cpf != null ? 'CPF: ' +investimento.consultor.cpf : ""}}</span><br>
                                            <span>{{investimento.consultor.banco != null ? 'Banco: '+investimento.consultor.banco.banco : ""}}</span>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template let-consultores pTemplate="item">
                                <div class="box">
                                    <div>
                                        <img [src]="consultores.foto==null? 'assets/layout/images/noImage.png' : consultores.foto" />
                                    </div>
                                    <div class="nome">
                                        <div style="margin-left: 20px;">
                                            <span><b>{{consultores.nome}}</b></span>-<span>{{consultores.cargo}}</span><br>
                                            <span>{{consultores.cpf !=null ? 'CPF: ' +consultores.cpf : ""}}</span><br>
                                            <span>{{consultores.banco != null ? 'Banco: '+consultores.banco.banco : ""}}</span>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </p-dropdown>
                    </div>
                    <div class="p-field p-col-12 p-md-6">
                        <h4>Secretaria</h4>
                        <p-dropdown [options]="secretarias" [disabled]="true" [(ngModel)]="investimento.secretaria" optionLabel="nome" [filter]="true" filterBy="nome" [showClear]="true">
                            <ng-template pTemplate="selectedItem">
                                <div class="box"  *ngIf="investimento.secretaria">
                                    <div>
                                        <img [src]="investimento.secretaria.foto==null? 'assets/layout/images/noImage.png' : investimento.secretaria.foto" />
                                    </div>
                                    <div class="nome">
                                        <div style="margin-left: 20px;">
                                            <span><b>{{investimento.secretaria.nome}}</b></span>-<span>{{investimento.secretaria.cargo}}</span><br>
                                            <span>{{investimento.secretaria.escritorioLocal != null ? 'Banco: '+investimento.secretaria.escritorioLocal : ""}}</span>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template let-secretarias pTemplate="item">
                                <div class="box">
                                    <div>
                                        <img [src]="secretarias.foto==null? 'assets/layout/images/noImage.png' : secretarias.foto" />
                                    </div>
                                    <div class="nome">
                                        <div style="margin-left: 20px;">
                                            <span><b>{{secretarias.nome}}</b></span>-<span>{{secretarias.cargo}}</span><br>
                                            <span>{{secretarias.escritorioLocal != null ? 'Escritório: '+secretarias.escritorioLocal : ""}}</span>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </p-dropdown>
                    </div>
                </div>
            </div>
            <div *ngIf="activeItem.id==3" class="p-fluid p-formgrid p-grid">
                <app-cad-contract-contatos class="p-field p-col-12 p-md-12 p-formgrid p-grid" [cliente]="investimento"></app-cad-contract-contatos>
            </div>
            <div *ngIf="activeItem.id==4" class="p-fluid p-formgrid p-grid">
                <app-cad-contract-contas   class="p-field p-col-12 p-md-12 p-formgrid p-grid" [cliente]="investimento"></app-cad-contract-contas>
            </div>
            <div *ngIf="activeItem.id==5" class="p-fluid p-formgrid p-grid">
                <app-cad-contract-pagamentos class="p-field p-col-12 p-md-12 p-formgrid p-grid" [Recebedor]="'Cliente'" [investimento]="investimento"></app-cad-contract-pagamentos>
            </div>
            <div *ngIf="activeItem.id==6" class="p-fluid p-formgrid p-grid"> 
                <app-cad-contract-pagamentos class="p-field p-col-12 p-md-12 p-formgrid p-grid" [Recebedor]="'Consultor'" [investimento]="investimento"></app-cad-contract-pagamentos>
            </div>
    <!--
            <div class="p-fluid p-formgrid p-grid"> 
                <div class="p-field p-col-12 p-md-6">
                    <p-button class="p-col-12" (click)="salvar()" label="Salvar" icon="pi pi-check"   styleClass="p-button-success p-button-rounded p-button-sm"></p-button>
                </div> 
                <div class="p-field p-col-12 p-md-6 ">
                    <p-button class="p-col-12" (click)="Cancelar()"  label="Cancelar" icon="pi pi-times" styleClass="p-button-secondary p-button-rounded p-button-sm"></p-button>
                </div>
            </div>-->
        </p-scrollPanel>
    </div>
</p-sidebar>