<div class="dashboard p-grid p-fluid">
    <div class="p-col-12 p-md-6" style="font-size: 10px">
        <div class="card">
            <h1 style="font-size:20px; font-weight: bold;">Controle de Contratos</h1>
            <div class="p-col-12 p-md-12" style="font-size: 10px">
                <p-table [value]="contratos" [paginator]="true" [rows]="5">
                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="id">Id
                                <p-sortIcon field="id"></p-sortIcon>
                            </th>
                            <th pSortableColumn="descricao">Descrição
                                <p-sortIcon field="descricao"></p-sortIcon>
                            </th>
                            <th pSortableColumn="cliente">Cliente
                                <p-sortIcon field="cliente"></p-sortIcon>
                            </th>
                            <th></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product>
                        <tr>
                            <td>{{product.id}}</td>
                            <td>{{product.descricao}}</td>
                            <td>{{product.cliente}}</td>
                            <td style="text-align: center">
                                <button pButton type="button" icon="pi pi-search"></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
    <div class="p-col-12 p-md-6" style="font-size: 10px">
        <div class="card">
            <h1 style="font-size:16px">Folha de Pagamentos</h1>
            <div class="p-grid p-fluid">
                <div class="p-col-6 p-md-3" style="font-size: 10px">
                    <img src="assets/layout/images/famosos/2.png" height="100" style="border-radius: 50%;">
                </div>
                <div class="p-col-6 p-md-9" style="font-size: 10px">
                    <div class="p-col-12" style="font-size: 12px; font-weight: bold;">
                        Wesley Safadão
                    </div>
                    <div class="p-grid p-fluid" style="font-size: 10px">
                        <div class="p-col-6" style="font-size: 10px">
                            <p>Banco: 1111<br>Agência: 1122<br>Conta: 100000-1<br>Tipo> Conta Corrente</p>
                        </div>
                        <div class="p-col-6" style="font-size: 10px">
                            Capital Inicial: R$ 10.000<br>
                            Capital Atual: R$ 12.000<br>
                        </div>
                    </div>
                    <div class="p-col-12" style="font-size: 10px">
                        <b>Consultor: Joluane Barcelos</b>
                    </div>
                </div>
            </div>
            <div class="p-col-12 p-md-12" style="font-size: 10px">
                <p-table [value]="products" [paginator]="true"  [rows]="5">
                    <ng-template pTemplate="header">
                        <tr style="font-size: 10px">
                            <th pSortableColumn="id">Id
                                <p-sortIcon field="id"></p-sortIcon>
                            </th>
                            <th pSortableColumn="pagamentoCorrente">Pag. Realizado
                                <p-sortIcon field="pagamentoCorrente"></p-sortIcon>
                            </th>
                            <th pSortableColumn="parcelasPagas">Qtd. de Pagamentos
                                <p-sortIcon field="parcelasPagas"></p-sortIcon>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product>
                        <tr style="font-size: 10px">
                            <td>{{product.id}}</td>
                            <td>{{product.parcelasPagas}}/{{product.totalParcelas}}</td>
                            <td>
                                <p-message *ngIf="product.pagamentoCorrente" severity="success" text="Pago" styleClass="p-mr-2"></p-message>  
                                <p-message *ngIf="product.pagamentoCorrente==false" severity="warn" text="Pendente" styleClass="p-mr-2"></p-message>  
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>