
<p-toolbar [style]="{'width': '100%'}">
    <ng-template style="text-align: right;" pTemplate="right">
        <button pButton pRipple label="Novo Contrato" icon="pi pi-plus" class="p-button-success" (click)="novoContrato()"></button>
    </ng-template>
</p-toolbar>
<p-table [value]="investimentos" [columns]="cols"  [paginator]="true" [rows]="20">
    <ng-template pTemplate="header"  let-columns>
        <tr>
            <th *ngFor="let col of columns" pSortableColumn="{{col.value}}" [style]="col.width==null? null : { 'width': col.width }">
                {{col.label}}
                <p-sortIcon field="{{col.value}}"></p-sortIcon>
            </th>
        </tr>
        <tr ></tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData  let-columns="columns">
        <tr style="font-size: 11px">
            <td *ngFor="let col of columns">
                <img *ngIf="col.value=='foto'" width="30px" height="30px" style="border-radius: 50%;" [src]="usuario.foto==null ? 'assets/layout/images/noImage.png' : usuario.foto">
                <p-inputSwitch *ngIf="col.value=='ativo'" (click)="ativarUsuario(usuario)" [(ngModel)]="usuario.ativo"></p-inputSwitch>
                {{ col.cxlabel ?  col.number ? ( _(rowData, col.value ) | currency:'BRL':true:'1.2-2') :  _(rowData, col.value ) : null }}
                <button *ngIf="col.value=='botao'" pButton pRipple type="button" (click)="verInvestimento(rowData)" icon="pi pi-eye" class="p-button-rounded p-button-outlined"></button>
                
                <p-tag styleClass="p-mr-12" *ngIf="col.aprov &&  _(rowData, col.value ) == 2" value="Pendente" severity="warning" [rounded]="true"></p-tag>
                <p-tag styleClass="p-mr-12" *ngIf="col.aprov &&  _(rowData, col.value ) == 1" value="Aprovado" severity="success" [rounded]="true"></p-tag>
                <p-tag styleClass="p-mr-12" *ngIf="col.aprov &&  _(rowData, col.value ) == 3" value="Recusado" severity="danger"  [rounded]="true"></p-tag>
            </td> 
        </tr>
    </ng-template>
</p-table>


<p-sidebar [(visible)]="newContract" position="left" [style]="{ 'width': width, 'max-width': width}" [baseZIndex]="10000">
    <p-toast   [style]="{marginTop: '5px'}"></p-toast>
    <div class="card" *ngIf="newContract">
        <h3>Cadastro de Novo Investimento</h3>
        <p-tabMenu [model]="steps"  [activeItem]="activeItem"></p-tabMenu>
        <p-scrollPanel [style]="{width: '98%', height: height}" styleClass="custom">

            <!-- ================================================================================================= -->
            <!-- Informações do cliente -->
            <div class="p-fluid p-formgrid p-grid" *ngIf="activeItem.id==0" style="margin-top: 20px;">
                <div class="p-field p-col-12 p-md-6">
                    <label >Nome</label>
                    <input type="text" [(ngModel)]="novoContratoObj.investidor" pInputText> 
                </div>
                <div class="p-field p-col-12 p-md-6">
                    <label>CPF</label>
                    <p-inputMask type="text" mask="999.999.999-99" [(ngModel)]="novoContratoObj.cpf" ></p-inputMask>
                </div>
                <div class="p-field p-col-12 p-md-6">
                    <label>Data de Nascimento</label>
                    <p-calendar class="p-field p-col-12 p-md-12" dateFormat="dd/mm/yy" [(ngModel)]="novoContratoObj.datNascimento"   [locale]="es" [showIcon]="true" yearRange="{{ano2}}:{{ano1}}"  [monthNavigator]="true" [yearNavigator]="true"  ></p-calendar>
                </div>

                <div class="p-field p-col-12 p-md-6">
                    <label>RG</label>
                    <p-inputMask type="text" mask="99.999.999-9" [(ngModel)]="novoContratoObj.rg" ></p-inputMask>
                </div>
                <div class="p-field p-col-12 p-md-5">
                    <label>UF Emissão - RG</label>
                    <p-dropdown [options]="ufs" [(ngModel)]="novoContratoObj.ufDoc" [filter]="true" ></p-dropdown>
                </div>
                <div class="p-field p-col-12 p-md-7">
                    <label>Órgao Emissor - RG</label>
                    <input  type="text" [(ngModel)]="novoContratoObj.orgEmissor" pInputText>
                </div>
                
                <div class="p-field p-col-12 p-md-12">
                    <h4>Informações</h4>
                </div>
                <div class="p-field p-col-12 p-md-6">
                    <label >Nacionalidade</label>
                    <input  type="text" [(ngModel)]="novoContratoObj.nacionalidade" pInputText>
                </div>

                
                <div class="p-field p-col-12 p-md-6">
                    <label >Email</label>
                    <input type="text" [(ngModel)]="novoContratoObj.email" pInputText> 
                </div>
                <div class="p-field p-col-12 p-md-4">
                    <label >Profissão</label>
                    <input  type="text" [(ngModel)]="novoContratoObj.profissao" pInputText>
                </div>
                <div class="p-field p-col-12 p-md-3">
                    <label >Como chegou até nós?</label>
                    <p-dropdown [options]="comoSoube" [(ngModel)]="novoContratoObj.comoSoube"></p-dropdown>
                </div>
                <div class="p-field p-col-12 p-md-2">
                    <label >Estado Civil</label>
                    <p-dropdown [options]="estCivil" [(ngModel)]="novoContratoObj.estadoCivil"></p-dropdown>
                </div>
                <div class="p-field p-col-12 p-md-3" *ngIf="novoContratoObj.estadoCivil!=null && novoContratoObj.estadoCivil.indexOf('casado')>-1">
                    <label >Regime de Bens</label>
                    <p-dropdown [options]="bens" [filter]="true"  [(ngModel)]="novoContratoObj.regimeBens"></p-dropdown>
                </div>
            </div>

            
            <!-- ================================================================================================= -->
            <!-- Informações do Endereço -->
            <div class="p-fluid p-formgrid p-grid" *ngIf="activeItem.id==1" style="margin-top: 20px;">
                <div class="p-field p-col-12 p-md-4">
                    <label >CEP</label>
                    <p-inputMask mask="99.999-999" (onComplete)="procurarCEP(novoContratoObj.cep)" [(ngModel)]="novoContratoObj.cep" placeholder="99.999-999"></p-inputMask>
                </div>
                <div class="p-field p-col-12 p-md-2">
                    <label >Número</label>
                    <input  type="text" [(ngModel)]="novoContratoObj.nro" pInputText>
                </div>
                <div class="p-field p-col-12 p-md-6">
                    <label >Cidade</label>
                    <input  type="text" [(ngModel)]="novoContratoObj.cidade" pInputText>
                </div>
                <div class="p-field p-col-12 p-md-2">
                    <label >Estado</label>
                    <input  type="text" [(ngModel)]="novoContratoObj.estado" pInputText>
                </div>
                <div class="p-field p-col-12 p-md-4">
                    <label >Bairro</label>
                    <input  type="text" [(ngModel)]="novoContratoObj.bairro" pInputText>
                </div>
                <div class="p-field p-col-12 p-md-6">
                    <label >Rua</label>
                    <input  type="text" [(ngModel)]="novoContratoObj.rua" pInputText>
                </div>

            </div>
            
            <!-- ================================================================================================= -->
            <!-- Informações do Investimento -->
            <div class="p-fluid p-formgrid p-grid" *ngIf="activeItem.id==5" style="margin-top: 20px;">
                <div class="p-field p-col-12 p-md-12">
                    <label >Secretaria</label>
                    <p-dropdown [options]="secretarias" [(ngModel)]="novoContratoObj.secretaria" optionLabel="nome" [filter]="true" filterBy="nome" [showClear]="true">
                        <ng-template pTemplate="selectedItem">
                            <div class="box"  *ngIf="novoContratoObj.secretaria">
                                <div>
                                    <img [src]="novoContratoObj.secretaria.foto==null? 'assets/layout/images/noImage.png' : novoContratoObj.secretaria.foto" />
                                </div>
                                <div class="nome">
                                    <div style="margin-left: 20px;">
                                        <span><b>{{novoContratoObj.secretaria.nome}}</b></span>-<span>{{novoContratoObj.secretaria.cargo}}</span><br>
                                        <span>{{novoContratoObj.secretaria.escritorioLocal != null ? 'Banco: '+novoContratoObj.secretaria.escritorioLocal : ""}}</span>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template let-secretarias pTemplate="item">
                            <div class="box">
                                <div>
                                    <img [src]="secretarias.foto==null? 'assets/layout/images/noImage.png' : secretarias.foto" />
                                </div>
                                <div class="nome">
                                    <div style="margin-left: 20px;">
                                        <span><b>{{secretarias.nome}}</b></span>-<span>{{secretarias.cargo}}</span><br>
                                        <span>{{secretarias.escritorioLocal != null ? 'Escritório: '+secretarias.escritorioLocal : ""}}</span>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>
                <div class="p-field p-col-12 p-md-9">
                    <label >Tipo de Investimento</label>
                    <p-dropdown [options]="tiposContratos" [(ngModel)]="novoContratoObj.tpoContrato"></p-dropdown>
                </div>
                <div class="p-field p-col-12 p-md-3">
                    <label >Prazo</label>
                    <p-inputNumber suffix=" meses" [(ngModel)]="novoContratoObj.prazo" :min="36" locale="pt-BR" [minFractionDigits]="0"></p-inputNumber>
                </div>
                <div class="p-field p-col-12 p-md-6">
                    <label>Data do Investimento</label>
                    <p-calendar class="p-field p-col-12 p-md-12" dateFormat="dd/mm/yy" [(ngModel)]="novoContratoObj.datInvestimento"   [showIcon]="true"  [monthNavigator]="true" [yearNavigator]="true"  ></p-calendar>
                </div>
                <div class="p-field p-col-12 p-md-6">
                    <label >Valor do Investimento</label>
                    <p-inputNumber prefix="R$ " [(ngModel)]="novoContratoObj.vlrInvestimento" :min="5000"  mode="decimal" locale="pt-BR" [minFractionDigits]="2"></p-inputNumber>
                </div>
            </div>
            
            <!-- ================================================================================================= -->
            <!-- Contatos -->
            <div class="p-fluid p-formgrid p-grid " *ngIf="activeItem.id==2" style="margin-top: 20px;">
                <p-toolbar class="p-field p-col-12 p-md-12">
                    <ng-template pTemplate="left">
                        <button pButton pRipple label="Novo" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="novoContato()"></button>
                    </ng-template>
                    <ng-template pTemplate="right">
                        Contatos   -
                        <i class="pi pi-envelope"  style="font-size: 2rem"></i>
                    </ng-template>
                </p-toolbar>
                <p-table #dt2 class="p-field p-col-12 p-md-12" [value]="novoContratoObj.contatos" [columns]="colsContatos" [paginator]="true" [rows]="10" >
                    <ng-template pTemplate="header" let-columns>
                        <tr style="font-size: 11px">
                            <th *ngFor="let col of columns" pSortableColumn="{{col.value}}" [style]="col.width==null? null : { 'width': col.width }">
                                {{col.label}}
                                <p-sortIcon field="{{col.value}}"></p-sortIcon>
                            </th>
                        </tr>
                        <tr style="font-size: 11px">
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-contatos let-i="rowIndex"  let-columns="columns">
                        <tr style="font-size: 11px">
                            <td *ngFor="let col of columns">
                                <span *ngIf="col.cxlabel">{{_(contatos, col.value)}}</span>
                                <button class="p-button-danger p-button-rounded p-button-outlined" *ngIf="col.value=='botao'" pButton pRipple type="button" (click)="deleteContato(i)" icon="pi pi-trash" ></button>
                            </td> 
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            
            
            <!-- ================================================================================================= -->
            <!-- Contas Bancárias -->
            <div class="p-fluid p-formgrid p-grid" *ngIf="activeItem.id==3" style="margin-top: 20px;">
                <p-toolbar class="p-field p-col-12 p-md-12">
                    <ng-template pTemplate="left">
                        <button pButton pRipple label="Novo" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="novoConta()"></button>
                    </ng-template>
                    <ng-template pTemplate="right">
                        Contas Bancárias   -
                        <i class="pi pi-money-bill"  style="font-size: 2rem"></i>
                    </ng-template>
                </p-toolbar>
                <p-table #dt1 class="p-field p-col-12 p-md-12" [value]="novoContratoObj.contasBancarias" [columns]="colsContas" [paginator]="true" [rows]="10" >
                    <ng-template pTemplate="header" let-columns >
                        <tr style="font-size: 11px">
                            <th *ngFor="let col of columns" pSortableColumn="{{col.value}}" [style]="col.width==null? null : { 'width': col.width }">
                                {{col.label}} 
                                <p-sortIcon field="{{col.value}}"></p-sortIcon>
                            </th>
                        </tr>
                        <tr style="font-size: 11px">
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-contas let-i="rowIndex" let-columns="columns">
                        <tr style="font-size: 11px">
                            <td *ngFor="let col of columns">
                                <span *ngIf="col.cxlabel">{{_(contas, col.value)}}</span>
                                <button class="p-button-danger p-button-rounded p-button-outlined" *ngIf="col.value=='botao'" pButton pRipple type="button" (click)="deleteContas(i)" icon="pi pi-trash" ></button>
                            </td> 
                        </tr>
                    </ng-template>
                </p-table>
            </div>


            <!-- ================================================================================================= -->
            <!-- Fotos Requeridas-->
            <div class="p-fluid p-formgrid p-grid" *ngIf="activeItem.id==4" style="margin-top: 20px;">
                <div class="p-field p-col-12 p-md-6" style="text-align: center;">
                    <p-fileUpload chooseLabel="Foto Depósito" uploadLabel="Enviar" customUpload="true" (uploadHandler)="onUpload(3,$event)" [auto]="true"> 
                    <ng-template pTemplate="content">
                        <ul *ngIf="novoContratoObj.fotoDeposito.length">
                            <li *ngFor="let file of novoContratoObj.fotoDeposito">{{file.name}} - {{file.size}} bytes</li>
                        </ul>
                    </ng-template>    
                    </p-fileUpload>
                </div>


                <div class="p-field p-col-12 p-md-6" style="text-align: center;">
                    <p-fileUpload chooseLabel="Foto Documento" uploadLabel="Enviar" customUpload="true" (uploadHandler)="onUpload(2,$event)" [auto]="true"> 
                    <ng-template pTemplate="content">
                        <ul *ngIf="novoContratoObj.fotoDoc.length">
                            <li *ngFor="let file of novoContratoObj.fotoDoc">{{file.name}} - {{file.size}} bytes</li>
                        </ul>
                    </ng-template>    
                    </p-fileUpload>
                </div>

                
                <div class="p-field p-col-12 p-md-6" style="text-align: center;">
                    <p-fileUpload chooseLabel="Foto Perfil" uploadLabel="Enviar" customUpload="true" (uploadHandler)="onUpload(1,$event)" [auto]="true"> 
                    <ng-template pTemplate="content">
                        <ul *ngIf="novoContratoObj.imgPerfil.length">
                            <li *ngFor="let file of novoContratoObj.imgPerfil">{{file.name}} - {{file.size}} bytes</li>
                        </ul>
                    </ng-template>    
                    </p-fileUpload>
                </div>

            </div>

            <!-- ================================================================================================= -->

            <div class="p-field p-formgrid p-grid">
                <div class="p-col-4 ">
                    <p-button class="p-col-12" (click)="salvar()" label="Salvar" icon="pi pi-check"   styleClass="p-button-success p-button-rounded p-button-sm"></p-button>
                </div>
                <div class="p-col-4 ">
                    <p-button class="p-col-12" (click)="cancelar()"  label="Cancelar" icon="pi pi-times" styleClass="p-button-secondary p-button-rounded p-button-sm"></p-button>
                </div>
                <div class="p-col-4 ">
                    <p-button class="p-col-12" (click)="deletar()"   label="Deletar" icon="pi pi-trash"  styleClass="p-button-danger p-button-rounded p-button-sm"></p-button>
                </div>
                
            </div>
        </p-scrollPanel>
    </div>



    <!-- NOVA CONTA BANCÁRIA -->
    <p-dialog header="Nova Conta" [(visible)]="editarNovaConta" [style]="{width: '400px', height: '450px'}">
        <div *ngIf="editarNovaConta" class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-12 p-md-6">
                <label >Nome</label>
                <input type="text" [(ngModel)]="newObj.titular" pInputText> 
            </div>
            <div class="p-field p-col-12 p-md-6">
                <label >Documento</label>
                <input type="text" [(ngModel)]="newObj.docTitular" pInputText> 
            </div>
            <div class="p-field p-col-12 p-md-12">
                <label >Banco</label>
                <p-dropdown [options]="bancos" [(ngModel)]="newObj.banco" optionLabel="banco" placeholder="Select"></p-dropdown>
            </div>
            <div class="p-field p-col-12 p-md-12">
                <label >Tipo</label>
                <p-dropdown [options]="tiposDeConta" [(ngModel)]="newObj.tpo" placeholder="Select"></p-dropdown>
            </div>
            <div class="p-field p-col-12 p-md-4">
                <label >Agencia</label>
                <input  type="text" [(ngModel)]="newObj.agencia" pInputText>
            </div>
            <div class="p-field p-col-12 p-md-3">
                <label >Op.</label>
                <input  type="text" [(ngModel)]="newObj.cod" pInputText>
            </div>
            <div class="p-field p-col-12 p-md-5">
                <label >Conta</label>
                <input  type="text" [(ngModel)]="newObj.conta" pInputText>
            </div>
            <div class="p-col-6 ">
                <p-button class="p-col-12" (click)="salvarConta()" label="Salvar" icon="pi pi-check"   styleClass="p-button-success p-button-rounded p-button-sm"></p-button>
            </div>
            <div class="p-col-6 ">
                <p-button class="p-col-12" (click)="cancelar()"  label="Cancelar" icon="pi pi-times" styleClass="p-button-secondary p-button-rounded p-button-sm"></p-button>
            </div>
        </div>
    </p-dialog>

    
    <!-- NOVO CONTATO -->
    <p-dialog header="Novo editarNovoContato" [(visible)]="editarNovoContato" >
        <div *ngIf="editarNovoContato" class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-12 p-md-12">
                <label >Tipo de Contato</label>
                <p-dropdown [options]="tiposDeContato" [(ngModel)]="newObj.tpoContato" placeholder="Select"></p-dropdown>
            </div>
            <div class="p-field p-col-12 p-md-12">
                <label >Contato</label>
                <input type="text" [(ngModel)]="newObj.contato" pInputText> 
            </div>
    
            <div class="p-col-6 ">
                <p-button class="p-col-12" (click)="salvarContato()" label="Salvar" icon="pi pi-check"   styleClass="p-button-success p-button-rounded p-button-sm"></p-button>
            </div>
            <div class="p-col-6 ">
                <p-button class="p-col-12" (click)="Cancelar()"  label="Cancelar" icon="pi pi-times" styleClass="p-button-secondary p-button-rounded p-button-sm"></p-button>
            </div>
        </div>
    </p-dialog>
</p-sidebar>




