
<div class="dashboard p-grid p-fluid">
    <div class="p-col-12 p-md-12" style="font-size: 10px">
        <div class="card">
            <h1 style="font-size:20px; font-weight: bold;">Cadastro de Clientes</h1>
            <div class="p-col-12 p-md-12" *ngIf="carregado">
                <p-toolbar styleClass="p-mb-12">
                    <ng-template pTemplate="left">
                        <button pButton pRipple label="Novo" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="novoUsuario()"></button>
                    </ng-template>
                </p-toolbar>
                <p-table #dt1 [value]="clientes" [columns]="cols" [paginator]="true" [rows]="10" 
                    [globalFilterFields]="['investidor','email','rg','estado','cidade','bairro']">
                    
                    <ng-template pTemplate="caption">
                        <div class="p-d-flex">
                            <span class="p-input-icon-left p-ml-auto">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Filtro Inteligente" />
                            </span>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header" let-columns>
                        <tr style="font-size: 11px">
                            <th *ngFor="let col of columns" pSortableColumn="{{col.value}}" [style]="col.width==null? null : { 'width': col.width }">
                                {{col.label}}
                                <p-sortIcon field="{{col.value}}"></p-sortIcon>
                            </th>
                        </tr>
                        <tr style="font-size: 11px">
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-usuario  let-columns="columns">
                        <tr style="font-size: 11px">
                            <td *ngFor="let col of columns">
                                <img *ngIf="col.value=='imgPerfil'" width="30px" height="30px" style="border-radius: 50%;"  onError="this.src = 'assets/layout/images/noImage.png'" [src]="usuario.imgPerfil==null ? 'assets/layout/images/noImage.png' : usuario.imgPerfil">
                                <span *ngIf="col.cxlabel">{{usuario[col.value]}}</span>
                                <button *ngIf="col.value=='botao'" pButton pRipple type="button" (click)="verConsultor(usuario)" icon="pi pi-eye" class="p-button-rounded p-button-outlined"></button>
                            </td> 
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <div class="p-col-12 p-md-12" style="text-align: center;" *ngIf="carregado==false">
                <p-progressSpinner class="p-col-12" [style]="{width: '50px', height: '50px'}" styleClass="custom-spinner" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>
            </div>
        </div>
    </div>
</div>
<p-sidebar [(visible)]="editarUser" position="left" [style]="{ 'width': width, 'max-width': width}" [baseZIndex]="10000">
    <div class="card" *ngIf="editarUser">
        <h3>Editor de Clientes</h3>
        <p-scrollPanel [style]="{width: '100%', height: height}" styleClass="custom">
            <div *ngIf="activeIndex==0" class="p-fluid p-formgrid p-grid">
                <div class="p-field p-col-12 p-md-6">
                    <label >Nome</label>
                    <input type="text" [(ngModel)]="consultor.investidor" pInputText> 
                </div>
                <div class="p-field p-col-12 p-md-6">
                    <label>Data de Nascimento</label>
                    <p-calendar class="p-field p-col-12 p-md-12" dateFormat="dd/mm/yy" [(ngModel)]="consultor.datNascimento"   [locale]="es" [showIcon]="true" yearRange="{{ano2}}:{{ano1}}"  [monthNavigator]="true" [yearNavigator]="true"  ></p-calendar>
                </div>

                <div class="p-field p-col-12 p-md-6" style="text-align: center;">
                    <p-fileUpload *ngIf="consultor.imgPerfil==null" chooseLabel="Escolher Foto Perfil" uploadLabel="Enviar" customUpload="true" (uploadHandler)="onUpload($event,2)"> 
                      <ng-template pTemplate="content">
                          <ul *ngIf="uploadedFiles.length">
                              <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                          </ul>
                      </ng-template>    
                    </p-fileUpload>
                    <button *ngIf="consultor.imgPerfil!=null" label="Mostrar Foto" (click)="op1.toggle($event)" pButton type="button" icon="pi pi-external-link" ></button>
                    <p-overlayPanel class="p-field p-col-12 p-md-12" #op1>
                        <img  width="400px" *ngIf="consultor.imgPerfil!=null"  onError="this.src = 'assets/layout/images/noImage.png'" [src]="consultor.imgPerfil" alt="Imagem Perfil" />
                    </p-overlayPanel>
                </div>

                <div class="p-field p-col-12 p-md-6" style="text-align: center;">
                    <p-fileUpload  *ngIf="consultor.fotoDoc==null" chooseLabel="Escolher Documento" uploadLabel="Enviar" customUpload="true" (uploadHandler)="onUpload($event,1)"> 
                      <ng-template pTemplate="content">
                          <ul *ngIf="uploadedFiles.length">
                              <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                          </ul>
                      </ng-template>    
                    </p-fileUpload>
                   <button  *ngIf="consultor.fotoDoc!=null" pButton type="button" icon="pi pi-external-link" label="Mostrar Documento" (click)="op2.toggle($event)"></button>
                    <p-overlayPanel class="p-field p-col-12 p-md-12"   #op2>
                        <img width="400px" *ngIf="consultor.fotoDoc!=null"  onError="this.src = 'assets/layout/images/noImage.png'" [src]="consultor.fotoDoc" alt="Imagem Documento" />
                    </p-overlayPanel>
                </div>

                <div class="p-field p-col-12 p-md-12">
                    <h4>Documentos</h4>
                </div>
                <div class="p-field p-col-12 p-md-6">
                    <label>CPF</label>
                    <p-inputMask type="text" mask="999.999.999-99" [(ngModel)]="consultor.cpf" ></p-inputMask>
                </div>
                <div class="p-field p-col-12 p-md-6">
                    <label>RG</label>
                    <p-inputMask type="text" mask="99.999.999-9" [(ngModel)]="consultor.rg" ></p-inputMask>
                </div>
                <div class="p-field p-col-12 p-md-5">
                    <label>UF Emissão - RG</label>
                    <p-dropdown [options]="ufs" [(ngModel)]="consultor.ufDoc" [filter]="true" ></p-dropdown>
                </div>
                <div class="p-field p-col-12 p-md-7">
                    <label>Órgao Emissor - RG</label>
                    <input  type="text" [(ngModel)]="consultor.orgEmissor" pInputText>
                </div>
                
                <div class="p-field p-col-12 p-md-12">
                    <h4>Informações</h4>
                </div>

                
                <div class="p-field p-col-12 p-md-6">
                    <label >Email</label>
                    <input type="text" [(ngModel)]="consultor.email" pInputText> 
                </div>
                <div class="p-field p-col-12 p-md-6">
                    <label >Profissão</label>
                    <input  type="text" [(ngModel)]="consultor.profissao" pInputText>
                </div>
                <div class="p-field p-col-12 p-md-4">
                    <label >Como chegou até nós?</label>
                    <p-dropdown [options]="comoSoube" [(ngModel)]="consultor.comoSoube"></p-dropdown>
                </div>
                <div class="p-field p-col-12 p-md-4">
                    <label >Estado Civil</label>
                    <p-dropdown [options]="estCivil" [(ngModel)]="consultor.estadoCivil"></p-dropdown>
                </div>
                <div class="p-field p-col-12 p-md-4" *ngIf="consultor.estadoCivil!=null && consultor.estadoCivil.indexOf('casado')>-1">
                    <label >Regime de Bens</label>
                    <p-dropdown [options]="bens" [filter]="true"  [(ngModel)]="consultor.regimeBens"></p-dropdown>
                </div>


                <div class="p-field p-col-12 p-md-12">
                    <h4>Endereço</h4>
                </div>
                <div class="p-field p-col-12 p-md-6">
                    <label >Nacionalidade</label>
                    <input  type="text" [(ngModel)]="consultor.nacionalidade" pInputText>
                </div>
                <div class="p-field p-col-12 p-md-6">
                    <label >CEP</label>
                    <p-inputMask mask="99.999-999" (onComplete)="procurarCEP(consultor.cep)" [(ngModel)]="consultor.cep" placeholder="99.999-999"></p-inputMask>
                </div>
                <div class="p-field p-col-12 p-md-2">
                    <label >Estado</label>
                    <input  type="text" [(ngModel)]="consultor.estado" pInputText>
                </div>
                <div class="p-field p-col-12 p-md-5">
                    <label >Cidade</label>
                    <input  type="text" [(ngModel)]="consultor.cidade" pInputText>
                </div>
                <div class="p-field p-col-12 p-md-5">
                    <label >Bairro</label>
                    <input  type="text" [(ngModel)]="consultor.bairro" pInputText>
                </div>
                <div class="p-field p-col-12 p-md-10">
                    <label >Rua</label>
                    <input  type="text" [(ngModel)]="consultor.rua" pInputText>
                </div>
                <div class="p-field p-col-12 p-md-2">
                    <label >Número</label>
                    <input  type="text" [(ngModel)]="consultor.nro" pInputText>
                </div>




                <div class="p-field p-col-12 p-md-12">
                </div>
                <div class="p-col-4 ">
                    <p-button class="p-col-12" (click)="salvarUsuario()" label="Salvar" icon="pi pi-check"   styleClass="p-button-success p-button-rounded p-button-sm"></p-button>
                </div>
                <div class="p-col-4 ">
                    <p-button class="p-col-12" (click)="Cancelar()"  label="Cancelar" icon="pi pi-times" styleClass="p-button-secondary p-button-rounded p-button-sm"></p-button>
                </div>
                <div class="p-col-4 ">
                    <p-button class="p-col-12" (click)="deletarUsuario()"   label="Deletar" icon="pi pi-trash"  styleClass="p-button-danger p-button-rounded p-button-sm"></p-button>
                </div>
                
            </div>
        </p-scrollPanel>
    </div>
</p-sidebar>
