<div class="card" style="width: 100%;" *ngIf="editarInvestimento && carregado">
    <h3>Editor de Investimentos</h3>
    <p-tabMenu [model]="steps"  [activeItem]="activeItem"></p-tabMenu>
    
    <p-overlayPanel class="p-field p-col-12 p-md-12" #op1>
        <img  width="400px" *ngIf="investimento.imagemRecibo!=null"  [src]="investimento.imagemRecibo" onError="this.src = 'assets/layout/images/noImage.png'" alt="Imagem Recibo" />
    </p-overlayPanel>
    <p-scrollPanel [style]="{'margin-top': '10px', width: '100%', height: height}" styleClass="custom">
        <p-toast   [style]="{marginTop: '5px'}"></p-toast>
        <div *ngIf="activeItem.id==1" class="p-fluid p-formgrid p-grid" [style]="{'min-height': height}">
            <div class="p-field p-col-12 p-md-3" style="text-align: center;">
                <img [src]="investimento.cliente.imgPerfil==null? 'assets/layout/images/noImage.png' : investimento.cliente.imgPerfil" onError="this.src = 'assets/layout/images/noImage.png'" width="200px" height="200px" style="border-radius: 50%;"/>
            </div>
            <div class="p-field p-col-12 p-md-9 p-formgrid p-grid">
                <div class="p-field p-col-12 p-md-12">
                    <h4><b>Dados do Usuário</b></h4>
                </div>
                <div class="p-field p-col-12 p-md-4">
                    <label >Cliente</label>
                    <input type="text" [disabled]="importado" [(ngModel)]="investimento.cliente.investidor" pInputText> 
                </div>
                <div class="p-field p-col-12 p-md-4">
                    <label >Tipo de Investimento</label>
                    <p-dropdown [options]="tipos" [disabled]="importado" [(ngModel)]="investimento.tpoContrato" [filter]="true" ></p-dropdown>
                </div>
                <div class="p-field p-col-12 p-md-4">
                    <label >Data do Investimento</label>
                    <p-calendar  [disabled]="importado" class="p-field p-col-12 p-md-12" dateFormat="dd/mm/yy" [(ngModel)]="investimento.datInvestimento"  [showIcon]="true"></p-calendar>
                </div>
                <div class="p-field p-col-12 p-md-4">
                    <label >Valor
                        <h4>
                            {{(investimento.vlrInvestimento  | currency:'BRL':'symbol')}}
                        </h4>
                    </label>
                </div>
                <div class="p-field p-col-12 p-md-4">
                    <label >Prazo do Investimento
                        <h4>
                            {{(investimento.prazo)}}
                        </h4>
                    </label>
                </div>
                <div class="p-field p-col-12 p-md-4">
                    <label >Recibo<br>
                        <button pButton pRipple type="button" (click)="op1.toggle($event)" icon="pi pi-eye" class="p-button-rounded p-button-success  p-button-outlined"></button>
                    </label>
                </div>
            </div>
            <div class="p-field p-col-12 p-md-12" *ngIf="investimento.statusSecretaria==1">
                <h4><b>Aportes</b></h4>
            </div>
            <div class="p-field p-col-12 p-md-12 p-formgrid p-grid" *ngIf="investimento.statusSecretaria==1">
                <app-cad-aportes  class="p-field p-col-12 p-md-12" *ngIf="carregado" [investimentos]="investimento"></app-cad-aportes>
            </div>
        </div>
        <div *ngIf="activeItem.id==0" class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-12 p-md-6">
                <h4>Consultores</h4>
                <p-dropdown [options]="consultores" [disabled]="importado" [(ngModel)]="investimento.consultor" optionLabel="nome" [filter]="true" filterBy="nome" [showClear]="true">
                    <ng-template pTemplate="selectedItem">
                        <div class="box"  *ngIf="investimento.consultor">
                            <div>
                                <img [src]="investimento.consultor.foto==null? 'assets/layout/images/noImage.png' : investimento.consultor.foto"  onError="this.src = 'assets/layout/images/noImage.png'"/>
                            </div>
                            <div class="nome">
                                <div style="margin-left: 20px;">
                                    <span><b>{{investimento.consultor.nome}}</b></span>-<span>{{investimento.consultor.cargo}}</span><br>
                                    <span>{{investimento.consultor.cpf != null ? 'CPF: ' +investimento.consultor.cpf : ""}}</span><br>
                                    <span>{{investimento.consultor.banco != null ? 'Banco: '+investimento.consultor.banco.banco : ""}}</span>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template let-consultores pTemplate="item">
                        <div class="box">
                            <div>
                                <img [src]="consultores.foto==null? 'assets/layout/images/noImage.png' : consultores.foto"  onError="this.src = 'assets/layout/images/noImage.png'" />
                            </div>
                            <div class="nome">
                                <div style="margin-left: 20px;">
                                    <span><b>{{consultores.nome}}</b></span>-<span>{{consultores.cargo}}</span><br>
                                    <span>{{consultores.cpf !=null ? 'CPF: ' +consultores.cpf : ""}}</span><br>
                                    <span>{{consultores.banco != null ? 'Banco: '+consultores.banco.banco : ""}}</span>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>
            <div class="p-field p-col-12 p-md-6">
                <h4>Secretaria</h4>
                <p-dropdown [options]="secretarias" [disabled]="importado" [(ngModel)]="investimento.secretaria" optionLabel="nome" [filter]="true" filterBy="nome" [showClear]="true">
                    <ng-template pTemplate="selectedItem">
                        <div class="box"  *ngIf="investimento.secretaria">
                            <div>
                                <img [src]="investimento.secretaria.foto==null? 'assets/layout/images/noImage.png' : investimento.secretaria.foto" onError="this.src = 'assets/layout/images/noImage.png'" />
                            </div>
                            <div class="nome">
                                <div style="margin-left: 20px;">
                                    <span><b>{{investimento.secretaria.nome}}</b></span>-<span>{{investimento.secretaria.cargo}}</span><br>
                                    <span>{{investimento.secretaria.escritorioLocal != null ? 'Banco: '+investimento.secretaria.escritorioLocal : ""}}</span>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template let-secretarias pTemplate="item">
                        <div class="box">
                            <div>
                                <img [src]="secretarias.foto==null? 'assets/layout/images/noImage.png' : secretarias.foto" onError="this.src = 'assets/layout/images/noImage.png'" />
                            </div>
                            <div class="nome">
                                <div style="margin-left: 20px;">
                                    <span><b>{{secretarias.nome}}</b></span>-<span>{{secretarias.cargo}}</span><br>
                                    <span>{{secretarias.escritorioLocal != null ? 'Escritório: '+secretarias.escritorioLocal : ""}}</span>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>
            <div class="p-field p-col-12 p-md-12">
                <h4>Aprovações</h4>
                <div class="card">
                    <p-timeline [value]="events1">
                        <ng-template pTemplate="content" let-event>
                            <small class="p-text-secondary">{{event.data}} -  <b>{{event.responsavel}}</b> - {{event.observacao}}</small>
                        </ng-template>
                        <ng-template pTemplate="marker" let-event>
                            <span class="custom-marker p-shadow-2" [style.backgroundColor]="event.color">
                                <i [ngClass]="event.icon"></i>
                            </span>
                        </ng-template>
                        <ng-template pTemplate="opposite" let-event>
                            {{event.status}} 
                        </ng-template>
                    </p-timeline>
                </div>
            </div>
        </div>
        <div *ngIf="activeItem.id==2" class="p-fluid p-formgrid p-grid">


            <!-- ================================================================================================= -->
            <!-- Fotos Requeridas-->
                <div class="p-field p-col-12 p-md-6" style="text-align: center;">
                    <p-fileUpload chooseLabel="Recibo de Depósito" uploadLabel="Enviar" customUpload="true" accept="image/*" (uploadHandler)="onUpload(1,$event)" [auto]="false"> 
                    <ng-template pTemplate="content">
                        <ul *ngIf="novoContratoObj.fotoDeposito.length">
                            <li *ngFor="let file of novoContratoObj.fotoDeposito">{{file.name}} - {{file.size}} bytes</li>
                        </ul>
                    </ng-template>    
                    </p-fileUpload>
                </div>

                <div class="p-field p-col-12 p-md-6" style="text-align: center;">
                    <p-fileUpload chooseLabel="Documento com Foto" uploadLabel="Enviar" customUpload="true" accept="image/*" (uploadHandler)="onUpload(2,$event)" [auto]="false"> 
                    <ng-template pTemplate="content">
                        <ul *ngIf="novoContratoObj.fotoDoc.length">
                            <li *ngFor="let file of novoContratoObj.fotoDoc">{{file.name}} - {{file.size}} bytes</li>
                        </ul>
                    </ng-template>    
                    </p-fileUpload>
                </div>
                
                <div class="p-field p-col-12 p-md-6" style="text-align: center;">
                    <p-fileUpload chooseLabel="Foto de Perfil" uploadLabel="Enviar" customUpload="true" accept="image/*" (uploadHandler)="onUpload(3,$event)" [auto]="false"> 
                    <ng-template pTemplate="content">
                        <ul *ngIf="novoContratoObj.imgPerfil.length">
                            <li *ngFor="let file of novoContratoObj.imgPerfil">{{file.name}} - {{file.size}} bytes</li>
                        </ul>
                    </ng-template>    
                    </p-fileUpload>
                </div>


        </div>
        <div *ngIf="activeItem.id==3" class="p-fluid p-formgrid p-grid">
            <app-cad-contract-contatos class="p-field p-col-12 p-md-12 p-formgrid p-grid" [cliente]="investimento"></app-cad-contract-contatos>
        </div>
        <div *ngIf="activeItem.id==4" class="p-fluid p-formgrid p-grid">
            <app-cad-contract-contas   class="p-field p-col-12 p-md-12 p-formgrid p-grid" [cliente]="investimento"></app-cad-contract-contas>
        </div>
        <div *ngIf="activeItem.id==5" class="p-fluid p-formgrid p-grid">
            <app-cad-contract-pagamentos class="p-field p-col-12 p-md-12 p-formgrid p-grid" [Recebedor]="'Cliente'" [investimento]="investimento"></app-cad-contract-pagamentos>
        </div>
        <div *ngIf="activeItem.id==6" class="p-fluid p-formgrid p-grid"> 
            <app-cad-contract-pagamentos class="p-field p-col-12 p-md-12 p-formgrid p-grid" [Recebedor]="'Consultor'" [investimento]="investimento"></app-cad-contract-pagamentos>
        </div>

        <div class="p-fluid p-formgrid p-grid" *ngIf="importado!=true"> 
             <div class="p-field p-col-12 p-md-6">
                <p-button class="p-col-12" (click)="salvar()" label="Salvar" icon="pi pi-check"   styleClass="p-button-success p-button-rounded p-button-sm"></p-button>
            </div> 
            <div class="p-field p-col-12 p-md-6 ">
                <p-button class="p-col-12" (click)="Cancelar()"  label="Cancelar" icon="pi pi-times" styleClass="p-button-secondary p-button-rounded p-button-sm"></p-button>
            </div>
        </div>
    </p-scrollPanel>
</div>