<div class="dashboard p-grid p-fluid">
    <div class="p-col-12 p-md-4">
        <div class="card clearfix summary">
            <span class="title">Clientes Ativos</span>
            <span class="detail">Número de Clientes Ativos</span>
            <span class="count visitors">12</span>
        </div>
    </div>
    <div class="p-col-12 p-md-4">
        <div class="card clearfix summary">
            <span class="title">Contratos Ativos</span>
            <span class="detail">Número de contratos ativos</span>
            <span class="count purchases">5</span>
        </div>
    </div>
    <div class="p-col-12 p-md-4">
        <div class="card clearfix summary">
            <span class="title">Pagamentos Mensais</span>
            <span class="detail">Valor de movimentação dos contratos ativos</span>
            <span class="count revenue">R$ 100.000</span>
        </div>
    </div>

    <div class="p-col-12 p-md-6 p-lg-4">
    <p-panel header="Convide um novo cliente" [style]="{'background':'#fff','height':'100%'}">
        <div class="p-grid">
            <div class="p-col-12">
                <input id="name" type="text" pInputText placeholder="Nome"/>
            </div>
            <div class="p-col-12">
                <input id="message" type="text" pInputText placeholder="Email"/>
            </div>
            <div class="p-col-12">
                <button type="button" label="Enviar" icon="pi pi-plus" pButton></button>
            </div>
        </div>
    </p-panel>
    </div>


    <div class="p-col-12 p-lg-4">
        <p-panel header="Maiores Clientes" [style]="{'height':'100%'}">
            <ul class="contacts">
                <li>
                    <a href="#">
                        <img src="assets/layout/images/avatar_2.png" height="35" style="border-radius: 50%;">
                        <span class="name">Wesley Safadão</span>
                        <span class="email">15 Contratos Ativos</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="assets/layout/images/avatar_3.png" height="35" style="border-radius: 50%;">
                        <span class="name">Marília Mendonça</span>
                        <span class="email">9 Contratos Ativos</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="assets/layout/images/avatar_1.png" height="35" style="border-radius: 50%;">
                        <span class="name">Anitta</span>
                        <span class="email">6 Contratos Ativos</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="assets/layout/images/avatar_2.png" height="35" style="border-radius: 50%;">
                        <span class="name">Nego do Borel</span>
                        <span class="email">3 Contratos Ativos</span>
                    </a>
                </li>
            </ul>
        </p-panel>
    </div>

    <div class="p-col-12 p-lg-4">
        <p-panel header="Ranking de Consultores" [style]="{'height':'100%'}">
            <ul class="contacts">
                <li>
                    <a href="#">
                        <img src="assets/layout/images/avatar_2.png" height="35" style="border-radius: 50%;">
                        <span class="name">Fulano de Tal</span>
                        <span class="email">11 Ct - R$ 940.000</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="assets/layout/images/avatar_3.png" height="35" style="border-radius: 50%;">
                        <span class="name">Márcia das Couves</span>
                        <span class="email">15 Ct - R$ 100.000</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="assets/layout/images/avatar_2.png" height="35" style="border-radius: 50%;">
                        <span class="name">Fulano de Tal</span>
                        <span class="email">10 Ct - R$ 94.000</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="assets/layout/images/avatar_3.png" height="35" style="border-radius: 50%;">
                        <span class="name">Luciana</span>
                        <span class="email">10 Ct - R$ 94.000</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="assets/layout/images/avatar_1.png" height="35" style="border-radius: 50%;">
                        <span class="name">Marcela</span>
                        <span class="email">10 Ct - R$ 94.000</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="assets/layout/images/avatar_2.png" height="35" style="border-radius: 50%;">
                        <span class="name">Lucas</span>
                        <span class="email">10 Ct - R$ 94.000</span>
                    </a>
                </li>
            </ul>
        </p-panel>
    </div>
</div>
