<div class="p-grid p-fluid" >
  <h2>Editar Usuário</h2>
  <div class="p-col-12 p-grid p-fluid"  *ngIf="carregado==true" >
    <div class="p-col-12 p-md-6" style="text-align: center;">
       <img height="250px" *ngIf="fileCarregado" width="250px" style="border-radius: 50%;" [src]="localStorage.getItem('foto')" />
      <p-fileUpload class="p-col-12 p-md-12" #fubauto mode="basic" name="demo[]" accept=".jpg" 
      maxFileSize="1000000" (change)="uploadImage(fubauto)" [auto]="true" chooseLabel="Selecione a Imagem"></p-fileUpload>

    </div>
    <div class="p-col-12 p-md-6 p-grid p-fluid" >
      <div class="p-col-12"> 
        <label>Nome Completo</label>
        <input id="input" type="text" [(ngModel)]="UsuarioSelect.nome" class="p-col-12" pInputText/>
      </div>
      <div class="p-col-12" >
        <label>Email</label>
        <input id="input" type="text" [(ngModel)]="UsuarioSelect.email" class="p-col-12" pInputText/>
      </div>
      <div class="p-col-12 p-md-6" >
        <button pButton pRipple type="button" label="Resetar Senha" (click)="resetarSenha(UsuarioSelect)" icon="pi pi-key"></button>
      </div>
      <div class="p-col-12 p-md-6" >
        <button pButton pRipple type="button" label="Salvar Alterações" (click)="alterarNomeOuEmail()" icon="pi pi-save"></button>
      </div>
    </div>
  </div>

</div>